/*-------------------------------  Custom Fonts  ------------------------------------*/
    @font-face {
        font-family: 'robotoBlack';
        src: 
            url('../fonts/robotoBlack.woff') format('woff'),
            url('../fonts/robotoBlack.woff2') format('woff2');
        font-weight: normal;
        font-style: normal;
    }
    @font-face {
        font-family: 'robotoRegular';
        src: 
            url('../fonts/robotoRegular.woff') format('woff'),
            url('../fonts/robotoRegular.woff2') format('woff2');
        font-weight: normal;
        font-style: normal;
    }
    @font-face {
        font-family: 'robotoSBold';
        src: 
            url('../fonts/robotoSBold.woff') format('woff'),
            url('../fonts/robotoSBold.woff2') format('woff2');
        font-weight: normal;
        font-style: normal;
    }
/*-------------------------------  Defs & Sys  ------------------------------------*/
    body {
        position: relative;
        min-width: 960px;
        font-size: 15px;
        line-height: 27px;
        color: #696969;
        background: #fff;
        -webkit-font-smoothing: antialiased;
        font-family: 'robotoRegular';
    }
    body, button, input, select, textarea {
        font-family: Arial, Helvetica, sans-serif;
    }
    a {text-decoration: underline; color: #43f;}
    a:focus, a:hover {text-decoration: underline; color: #f00;}
    a:hover {text-decoration: underline; color: #000;}
    a[href^="http"], a[href^="www."] {cursor: pointer; cursor: alias;}
    .tac { text-align: center; }
    .tar { text-align: right; }
    .tal { text-align: left; }
    .fll { float: left; }
    .flr { float: right; }
    .cls { font-size: 0; display: table; width: 100%;}
    .ovh { overflow: hidden; }
    .clear { clear: both;}
    .blank { height: 25px; }
    .clearFix:after, .wSize:after, .wTxt:after { content: ''; display: block; clear: both; height: 0; }
    .svgHolder {position: relative; }
    .svgHolder > svg {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        max-width: 100%;
        max-height: 100%;
        margin: auto;
    }

/*-------------------------------  wTxt  ------------------------------------*/
    .wTxt {
        position: relative;
        text-transform: none;
        text-decoration: none;
    }
    .wTxt a {
        color: #f29c14;
        text-decoration: underline;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }
    .wTxt a:visited {text-decoration: underline; color: #00a657; }
    .wTxt a:hover {text-decoration: underline; color: #00a657; }
    .wTxt a:active {text-decoration: underline; color: #00a657; }

    .wTxt h1:before, .wTxt h2:before, .wTxt h3:before,
    .wTxt h4:before, .wTxt h5:before, .wTxt h6:before {
        content: '';
        display: block;
        clear: both;
        height: 0;
    }

    .wTxt h1, .wTxt h2, .wTxt h3, .wTxt h4, .wTxt h5, .wTxt h6,
    .wTxt ul, .wTxt ol, .wTxt dl, .wTxt pre, .wTxt p,
    .wTxt blockquote, .wTxt table, .wTxt blockquote {
        margin: 1em 0px;
    }
    .wTxt p {
        margin-bottom: 30px;
    }
    .wTxt h1, .wTxt h2, .wTxt h3, .wTxt h4, .wTxt h5, .wTxt h6,
    .h1T, .h2T, .h3T, .h4T, .h5T, .h6T {
        font: 26px/1.2em 'robotoBlack';
        margin: 1.3em 0 0.7em;
        text-transform: uppercase;
        color: #000;
    }
    .wTxt h2, .h2T { font-size: 22px; line-height: 1.2em; }
    .wTxt h3, .h3T { font-size: 20px; line-height: 1.2em; }
    .wTxt h4, .h4T { font-size: 18px; line-height: 1.2em; }
    .wTxt h5, .h5T { font-size: 17px; line-height: 1.2em; }
    .wTxt h6, .h6T { font-size: 16px; line-height: 1.2em; }

    .wTxt h1:first-child, .wTxt h2:first-child, .wTxt h3:first-child, .wTxt h4:first-child, .wTxt h5:first-child, .wTxt h6:first-child,
    .h1T:first-child, .h2T:first-child, .h3T:first-child, .h4T:first-child, .h5T:first-child, .h6T:first-child {margin-top: 0;}

    .wTxt h1 a, .wTxt h2 a, .wTxt h3 a, .wTxt h4 a, .wTxt h5 a, .wTxt h6 a,
    .h1T a, .h2T a, .h3T a, .h4T a, .h5T a, .h6T a {
        text-decoration: none !important;
    }
    .wTxt code, .wTxt kbd, .wTxt samp {
        line-height: 1.3em;
        display: inline-block;
        vertical-align: top;
        padding: 0 5px;
        border-radius: 3px;
    }
    .wTxt code {
        color: red;
    }
    .wTxt kbd {
        color: blue;
    }
    .wTxt samp {
        color: #009e00;
    }
    .wTxt pre {
        padding: 15px;
        border-radius: 5px;
    }
    .wTxt code, .wTxt kbd, .wTxt pre, .wTxt samp {
        background: #efefef;
        border: 1px solid #ccc;
    }
    .wTxt blockquote {
        padding: 5px 20px;
        font-style: italic;
    }
    .wTxt ul, .wTxt ol, .wTxt dl {
        margin: 1em 0 1em 1em;
    }
    .wTxt li {
        list-style-position: inside;
    }
    .wTxt ul:not([style]) li {
        list-style-type: disc;
    }
    .wTxt ol li {
        list-style-type: decimal;
    }
    .wTxt dl dt {
        font-style: italic;
    }
    .wTxt table  {
        width: 100%;
        background-color: transparent;
        border-collapse: collapse;
        border-spacing: 0;
        border-bottom: 1px solid #333;
        border-left: 1px solid #333;
        width: 100%;
        margin: 10px 0 20px;
    }
    .wTxt table th,
    .wTxt table td {
        padding: 10px;
        line-height: 1em;
        text-align: left;
        vertical-align: top;
        border-top: 1px solid #333;
        border-right: 1px solid #333;
    }
    .wTxt table th {
        font-weight: bold;
        background: #eee;
    }
    .wTxt table.table-null,
    .wTxt table.table-null th,
    .wTxt table.table-null td {
        border-color: transparent;
    }
    .wTxt table.table-zebra,
    .wTxt table.table-zebra th,
    .wTxt table.table-zebra td {
        border-color: transparent;
    }
    .wTxt table.table-zebra tr:nth-child(even) {
        background: #ddd;
    }
    .iframeHolder {
        width: 100%;
        position: relative;
        padding-top: 56.25%;
    }
    .iframeHolder.ratio_56 { padding-top: 56.25%; }
    .iframeHolder.ratio_75 { padding-top: 75%; }
    .iframeHolder > iframe {
        background: #000;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

/*-------------------------------  breadcrumbs  ------------------------------------*/
    .breadcrumbs {
        width: 100%;
        display: table;
        font-size: 0;
        line-height: 0;
        margin-bottom: 10px;
    }
    .breadcrumbs > span {
        display: inline-block;
        vertical-align: top;
        font-size: 13px;
        line-height: 18px;
        margin-right: 7px;
        color: #838383;
    }
    .breadcrumbs > span:before {
        content: '-';
        display: inline-block;
        vertical-align: top;
        margin-right: 3px;
    }
    .breadcrumbs > span:first-child:before {
        display: none;
    }
    .breadcrumbs > span > a {
        text-decoration: underline;
        color: #f29c14;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }
    .no-touch .breadcrumbs > span > a:hover {
        color: #00a657;
    }


/*-------------------------------  conteiner  ------------------------------------*/
    .wWrapper {
        min-height: 100%;
        height: auto !important;
        height: 100%;
        position: relative;
        overflow: hidden;
        border-top: 10px solid #00a657;
        box-sizing: border-box;
        background: rgb(255,255,255);
        background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(227,229,233,1) 100%);
        background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(227,229,233,1) 100%);
        background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(227,229,233,1) 100%);
    }
    .wSize {
        max-width: 960px;
        min-width: 960px;
        padding: 0 5px;
        margin: 0 auto;
        position: relative;
    }
    .wConteiner {
        padding: 50px 0 93px 0;
        position: relative;
    }
/*-------------------------------  wHeader  ------------------------------------*/
    .wHeader {
        position: relative;
    }

    .wLogo {
        padding-top: 30px;
        box-sizing: border-box;
        width: 150px;
    }

    .wLogoLink {
        display: block;
        line-height: 0;
        width: 141px;
        height: 126px;
    }

    .wHeaderControls {
        padding-top: 60px;
        width: 810px;
    }

    .wLanguage {
        display: inline-block;
        vertical-align: top;
        line-height: 30px;
        height: 30px;
        margin-right: 30px;
    }

    .wLangLink {
        display: inline-block;
        vertical-align: middle;
        margin: 0 5px;
        height: 20px;
        width: 45px;
        border: 1px solid transparent;
        background: transparent;
        box-sizing: border-box;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
        padding: 4px;
        color: #838383;
        font: 15px/11px 'robotoSBold';
        text-transform: uppercase;
        text-decoration: none;
    }

    .wLangLink.cur,
    .no-touch .wLangLink:hover {
        border: 1px solid #e7e7e7;
        background: #f7f7f7;
        color: #000;
        text-decoration: none;
    }

    .wLangLink p {
        display: inline-block;
        vertical-align: top;
    }

    .wFlag {
        display: inline-block;
        vertical-align: top;
        width: 14px;
        height: 11px;
    }

    .wLangLinkEN .wFlag {
        background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAALCAIAAADA5ys1AAABJUlEQVQoU3VRsU4CQRCdxrtP8B+0AG1MJHyHH4BSwCXa0lHinhZ8ABjBiiMxIbE5G1pKIOFsNJdQYMXuCc2e8ca3IYdyxskUm5mX9+a9Ja5WOY5Fb0aFDuVbah1/2PaSiKOIig90cl+7G3NDsOfRdXOYnJd5Mgnf10eXvlzpyLIkoEodOP7rKDBci4XrBUT5Np09zus37LqcJPrza8vKgwELEYRyv/QEQQIN79YPdLdI7VlYbFqmj7+NVXb0X4ORMirQxSKy7MwYdxLlWrh6Fko4MD6UAhTnwh9cwuu8fgvfxpboBciCK5W30cuh42+gJq+VPr56RoI8nSYX5UZzSNzvI+Fae4y0qdjdshpFMBW6hktrdhxKfuHwPSlrCkXqpx3hGfQ334QXo/DjTpAAAAAASUVORK5CYII=) 0px 0px no-repeat;
    }

    .wLangLinkRU .wFlag {
        background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAALCAIAAADA5ys1AAAAHElEQVQoU2P8//8/A3GAccCVMjAMsFJiFQ4CpQCrkxL5yGZjQAAAAABJRU5ErkJggg==) 0px 0px no-repeat;
    }

    .wFind {
        width: 210px;
        height: 30px;
        display: inline-block;
        vertical-align: top;
        box-sizing: border-box;
        border: 1px solid #e7e7e7;
        box-shadow: none;
        position: relative;
    }

    .wFind input {
        border: none;
        width: 100%;
        height: 28px;
        color: #838383;
        font-size: 13px;
        font-family: 'robotoRegular';
        box-sizing: border-box;
        padding: 0 30px 0 15px;
    }

    .wFind button {
        position: absolute;
        height: 28px;
        width: 28px;
        top: 0;
        right: 0;
        background: none;
        border: none;
    }

    .svg_search {
        position: absolute;
        height: 14px;
        width: 14px;
        top: 50%;
        left: 50%;
        margin-top: -7px;
        margin-left: -7px;
        fill: #f29c14;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }

    .no-touch .svg_search:hover {
        fill: #00a657;
    }

    .svg_search:active {
        margin-top: -6px;
    }

    .wTopCon {
        margin-bottom: 50px;
        float: right;
    }

    .wMenu {
        display: block;
        float: right;
    }

    .wMenuList {
        display: inline-block;
        vertical-align: top;
    }

    .wMenuLink {
        position: relative;
        padding: 0 10px;
        box-sizing: border-box;
        font: 16px/16px 'robotoSBold';
        color: #000;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
        text-decoration: none;
        text-transform: uppercase;
    }

    .no-touch .wMenuLink:hover,
    .wMenuLink.cur {
        color: #f29c14;
        text-decoration: none;
    }

    .wMenuLink:before {
        position: absolute;
        content: '';
        height: 1px;
        width: 100%;
        background: #00a657;
        left: 0;
        top: 0px;
        opacity: 0;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }

    .no-touch .wMenuLink:hover:before,
    .wMenuLink.cur:before {
        opacity: 1;
        top: -5px;
    }

    .wMenuLink:after {
        position: absolute;
        content: '';
        height: 1px;
        width: 100%;
        background: #00a657;
        left: 0;
        bottom: 0px;
        opacity: 0;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }

    .no-touch .wMenuLink:hover:after,
    .wMenuLink.cur:after {
        opacity: 1;
        bottom: -5px;
    }
/*-------------------------------  wConteiner  ------------------------------------*/
    /*-------------------------------  wLeft  ------------------------------------*/
        .wLeft {
            position: relative;
            float: left;
            width: 240px;
            margin-right: 20px;
            margin-bottom: 20px;
        }

        .wLeftList {
            display: block;
        }

        .wLeftItem {
            display: block;
            line-height: 0;
            margin-bottom: 20px;
            width: 100%;
            height: 153px;
            overflow: hidden;
            position: relative;
        }

        .wLeftItem img {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
        }
    /*-------------------------------  wRight  ------------------------------------*/
        .wRight {
            position: relative;
            float: right;
            width: 240px;
            margin-left: 20px;
            margin-bottom: 20px;
        }
    /*-------------------------------  wMiddle  ------------------------------------*/
        .wLeft + .wMiddle,
        .wRight + .wMiddle {
            position: relative;
            overflow: hidden;
        }
        .wMiddle {
            margin-bottom: 20px;
        }

        .wSliderMain {
            margin-bottom: 20px;
            height: 500px;
            overflow: hidden;
        }

        .wSliderMain ul {
            display: block;
        }

        .wSliderMain ul li {
            float: left;
            position: relative;
            height: 500px;
            width: 700px;
            overflow: hidden;
            box-sizing: border-box;
        }

        .wSliderMain ul li img {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            max-width: none;
            min-width: 100%;
        }

        .wSlideOpus {
            position: absolute;
            top: 0;
            width: 100%;
            left: 0;
            height: 100%;
            padding: 50px 150px 50px 50px;
            box-sizing: border-box;
        }

        .wSlideTitle {
            color: #fafafb;
            text-transform: uppercase;
            font: 26px/38px 'robotoBlack';
            text-shadow: 1px 1px 1px rgba(0,0,0,0.4);
            margin-bottom: 10px;
            max-height: 114px;
            overflow: hidden;
        }

        .wSlideText {
            color: #fbfbfc;
            font: 16px/27px 'robotoRegular';
            text-shadow: 1px 1px 1px rgba(0,0,0,0.4);
            margin-bottom: 30px;
            max-height: 135px;
            overflow: hidden;
        }

        .wSlideBut {
            width: 150px;
            height: 35px;
            color: #fff;
            text-align: center;
            text-transform: uppercase;
            background: #f3a333;
            font: 15px/35px 'robotoBlack';
            display: block;
            text-decoration: none;
            -webkit-transition: all 0.3s ease;
            transition: all 0.3s ease;
        }

        .no-touch .wSlideBut:hover {
            background: #00a657;
            text-decoration: none;
            color: #fff;
        }

        .wSlideBut:active {
            -webkit-transform: translate(0px,2px);
            transform: translate(0px,2px);
        }
/*-------------------------------  wFooter  ------------------------------------*/
    .wFooter {
        position: relative;
        margin: -93px auto 0;
        height: 93px;
    }

    .wFooter .wSize {
        border-top: 1px solid #cdced2;
        box-sizing: border-box;
        padding: 20px 0;
        box-sizing: border-box;
    }

    .wMenuBot {
        height: 20px;
        margin-bottom: 15px;
    }

    .wMenuB {
        height: 20px;
        display: block;
    }

    .wMenuBList {
        margin-right: 20px;
        display: inline-block;
        vertical-align: top;
    }

    .wMenuBLink {
        font: 12px/20px 'robotoSBold';
        color: #000;
        text-transform: uppercase;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
        display: block;
        text-decoration: none;
    }

    .no-touch .wMenuBLink:hover {
        color: #f29c14;
        text-decoration: none;
    }

    .wCopywrite {
        font: 12px/17px 'robotoRegular';
        color: #838383;
    }

    .wSocial {
        display: block;
        height: 20px;
        margin-bottom: 15px;
    }

    .wezom {
        float: right;
        display: block;
        color: #838383;
        font: 13px/17px 'robotoRegular';
        text-decoration: none;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }

    .wezom span {
        color: #f29c14;
        text-decoration: underline;
    }

    .no-touch .wezom:hover {
        color: #f29c14;
        font: 13px/17px 'robotoRegular';
        text-decoration: none;
    }

    .no-touch .wezom:hover span {
        text-decoration: none;
    }







/*------------------------------  CATALOG  ------------------------------*/





    .wLeftCat {
        padding: 15px 10px;
        box-sizing: border-box;
        background: #fbfafa;
        box-shadow: 1px 1px 2px rgba(227,229,233,1);
    }

    .wAccordeon {
        display: block;
    }

    .wAccList {display: block;}

    .wAccItem {
        display: block;
    }

    .wAccOpen {
        display: block;
        padding: 0 17px;
        box-sizing: border-box;
        position: relative;
        cursor: pointer;
        color: #000;
        text-decoration: underline;
        font: 14px/30px 'robotoRegular';
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }

    .no-touch .wAccOpen:hover {
        color: #00a657;
    }

    .wAccOpen:after {
        position: absolute;
        content: '';
        left: 0;
        top: 50%;
        height: 7px;
        width: 7px;
        margin-top: -3px;
        background: #00a657;
    }

    .wAccOpen2:after {
        background: #f29c14;
    }

    .wAccOpen:before {
        position: absolute;
        content: '';
        right: 0;
        top: 50%;
        height: 6px;
        width: 10px;
        margin-top: -3px;
        opacity: 0;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
        background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAGCAQAAABQ+cdNAAAASUlEQVQYGQXBsQ2DMAAAwbfwToxBkQYllDSnROzjbXOX3W2TJJvbnsvClEwsV4a35WeavpaPkQyn5fFYTkNJ8rIsL0lJksMhSX9G+ySbMYPgMAAAAABJRU5ErkJggg==) 0px 0px no-repeat;
    }

    .no-touch .wAccOpen:hover:before {opacity: 1;}

    .no-touch .wAccOpen.open:before {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    .wAccList.open {display: block;}

    .wAccList2 {
        display: none;
        padding: 0 10px;
        box-sizing: border-box;
        border-top: 1px solid #e7e7e7;
        border-bottom: 1px solid #e7e7e7;
        background: #f7f6f6;
    }

    .wAccList3 {
        display: none;
        padding: 0 10px 0 25px;
        box-sizing: border-box;
    }

    .wAccLink {
        color: #696969;
        position: relative;
        display: inline-block;
        vertical-align: top;
        padding-left: 12px;
    }

    .no-touch .wAccLink:hover {
        color: #696969;
        text-decoration: none;
    }

    .wAccLink:after {
        position: absolute;
        content: '';
        left: 0;
        top: 50%;
        height: 4px;
        width: 4px;
        margin-top: -2px;
        background: #696969;
    }

    .wCatImg {
        width: 230px;
        height: 230px;
        margin-right: 15px;
        border: 2px solid #f3a333;
        z-index: 2;
        overflow: hidden;
        position: relative;
    }

    .wCatImg img {
        max-width: 300px;
        max-height: 300px;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
    }

    .wCatListBlock {width: 450px;}

    .wCatListMain {
        display: inline-block;
        vertical-align: top;
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
        width: 100%;
    }

    .wCatItem {
        display: block;
    }

    .wCatLink {
        display: inline-block;
        vertical-align: top;
        padding: 0 17px;
        box-sizing: border-box;
        color: #000;
        font: 14px/27px 'robotoRegular';
        position: relative;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }

    .no-touch .wCatLink:hover {
        color: #f3a333;
    }

    .wCatLink:after {
        position: absolute;
        content: '';
        left: 0;
        top: 50%;
        height: 7px;
        width: 7px;
        margin-top: -3px;
        background: #00a657;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }

    .no-touch .wCatLink:hover:after {
        background: #f3a333;
    }






/*-------------------------------  ITEM  -------------------------------*/




    .wItemSlider {
        height: 400px;
        overflow: hidden;
        position: relative;
        margin-bottom: 30px;
    }

    .wItemSliderList {
        display: block;
    }

    .wItemSliderItem {
        float: left;
    }

    .prev,
    .next {
        z-index: 2;
        cursor: pointer;
        height: 100%;
        width: 35px;
        position: absolute;
        top: 0;
        background: rgba(0,0,0,0.4);
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }

    .no-touch .prev:hover,
    .no-touch .next:hover {
        background: rgba(0,0,0,1);
    }

    .svg_contr {
        position: absolute;
        top: 50%;
        left: 50%;
        height: 25px;
        width: 15px;
        margin-top: -12px;
        margin-left: -7px;
        fill: #e7e8ec;
    }

    .prev {left: 0;}

    .next {right: 0;}

    .wItemDescription {
        width: 350px;
    }

    .wItemCharacteristics {
        box-shadow: 0 0 3px #e4e6e9;
        background: #fff;
        padding: 20px;
        padding-bottom: 0;
        box-sizing: border-box;
        width: 310px;
        margin-right: 2px;
    }

    .wItemChItem {
        height: 30px;
        border-bottom: 1px solid #e7e7e7;
    }

    .wItemChItem:last-child {
        border-bottom: none;
    }

    .wItemChItem .fll,
    .wItemChItem .flr {
        width: 50%;
        padding: 0 10px;
        box-sizing: border-box;
    }

    .wItemChItem .fll {
        color: #696969;
        font: 14px/30px 'robotoBlack';
    }

    .wItemChItem .flr {
        color: #696969;
        font: 14px/30px 'robotoRegular';
    }

    .touch .wPrint {
        margin-right: 10px;
    }

    .wPrint a {
        color: #696969;
        font: 15px/19px 'robotoRegular';
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
        text-decoration: none;
    }

    .wPrint p {
        display: inline-block;
        vertical-align: top;
    }

    .wPrint .svg_print {
        display: inline-block;
        vertical-align: top;
        height: 19px;
        width: 19px;
        fill: #d0d0d1;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }

    .no-touch .wPrint a:hover {
        color: #00a657;
        text-decoration: none;
    }

    .no-touch .wPrint:hover .svg_print {
        fill: #00a657;
    }







/*--------------------------------  NEWS  --------------------------------*/






    .wNews {
        margin-bottom: 50px;
    }

    .wNewsList {
        display: block;
        margin-bottom: 10px;
    }

    .wNewsItem {
        display: block;
        padding: 10px 0;
        box-sizing: border-box;
        border-bottom: 1px solid #dedfe0;
        box-shadow: 0 1px 0 #fff;
        margin-bottom: 20px;
    }

    .wNewsImg {
        width: 200px;
        margin-right: 10px;
    }

    .wNewsImgBlock {
        display: block;
        line-height: 0;
        width: 200px;
        height: 140px;
        position: relative;
    }

    .wNewsImgMain {
        height: 140px;
        width: 200px;
        overflow: hidden;
        position: relative;
        display: block;
        line-height: 0;
    }

    .wNewsImgMain img {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        max-width: 300px;
    }

    .wNewsDate {
        position: absolute;
        top: 10px;
        left: -5px;
        background: #00a657;
        padding: 0 5px;
        height: 17px;
    }

    .wNewsDate p {
        color: #fff;
        font: 13px/17px 'robotoRegular';
    }

    .wNewsName {
        color: #000;
        font: 20px/20px 'robotoSBold';
        display: inline-block;
        vertical-align: top;
        margin-bottom: 10px;
        max-height: 40px;
        overflow: hidden;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }

    .no-touch .wNewsName:hover {
        color: #00a657;
    }

    .wNewsText p {
        margin: 0;
        max-height: 108px;
        overflow: hidden;
    }

    .paggination {
        text-align: center;
        font-size: 0;
    }

    .paggination a {
        display: inline-block;
        vertical-align: top;
        height: 30px;
        width: 30px;
        text-align: center;
        font: 13px/30px 'robotoRegular';
        color: #696969;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
        background: #fff;
        text-decoration: none;
        margin: 0 2px;
    }

    .no-touch .paggination a:hover {
        background: #f2f2f2;
        color: #696969;
        text-decoration: none;
    }

    .paggination a.cur,
    .paggination a:active {
        background: #f29c14;
        color: #fff;
        text-decoration: none;
    }

    .paggination a.pagg_prev,
    .paggination a.pagg_next {
        width: auto;
        padding: 0 10px;
        box-sizing: border-box;
    }





/*-----------------------------  NEW  -----------------------------*/






    .wNew .wNewsImg {
        width: 330px;
        height: 240px;
        position: relative;
        margin: 0 10px 10px 0;
        z-index: 2;
    }

    .wNew .wNewsImgMain {
        width: 330px;
        height: 240px;
    }

    .wNew .wNewsImgMain img {
        max-width: none;
    }

    .wNew .wNewsDate p {
        margin: 0;
    }

    .wNewText {
        border-bottom: 1px solid #dedfe0;
        box-shadow: 0 1px 0 #fff;
    }

    .wNewSimilar {
        padding: 30px 0;
        box-sizing: border-box;
    }

    .wNewSimList {
        display: block;
    }

    .wNewSimItem {
        display: block;
    }

    .wNewSimLink {
        display: inline-block;
        vertical-align: top;
        padding-left: 17px;
        box-sizing: border-box;
        text-decoration: none;
        position: relative;
    }

    .wNewSimLink:after {
        position: absolute;
        content: '';
        top: 50%;
        margin-top: -3px;
        height: 7px;
        width: 7px;
        left: 0;
        background: #00a657;
    }

    .no-touch .wNewSimLink:hover {
        text-decoration: none;
    }

    .wNewSimLink p {
        display: inline-block;
        vertical-align: top;
        color: #000;
        text-decoration: underline;
        font: 14px/27px 'robotoRegular';
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }

    .no-touch .wNewSimLink:hover p {
        color: #00a657;
        text-decoration: underline;
    }

    .wNewSimLink span {
        display: inline-block;
        vertical-align: top;
        color: #838383;
        text-decoration: none;
        font: 14px/27px 'robotoRegular';
        margin-left: 5px;
    }






/*---------------------------------  TEXT  ---------------------------------*/






    .wCompany .wTxt {
        margin-bottom: 30px;
    }

    .wCompSlider {
        display: block;
        position: relative;
        height: 170px;
        overflow: hidden;
        -webkit-transform: translateZ(1px);
        transform: translateZ(1px);
    }

    .wCompSliderList {
        display: block;
    }

    .wCompSliderItem {
        float: left;
        width: 250px;
        height: 170px;
        margin-left: 1px;
    }

    .wCompSlider .caroufredsel_wrapper {
        width: 100% !important;
    }






/*--------------------------------  CONTACT  --------------------------------*/






    .wContactBanner {
        width: 100%;
        height: 200px;
        margin-bottom: 20px;
    }

    .wContactTitle {
        margin-bottom: 10px;
        font: 21px/25px 'robotoBlack';
        text-transform: uppercase;
        color: #000;
    }

    .wContactTitle .svg_info,
    .wContactTitle .wContactFormIco,
    .wContactTitle p {
        display: inline-block;
        vertical-align: middle;
    }

    .wContactTitle .svg_info {
        fill: #c6c7c9;
        width: 10px;
        height: 16px;
    }

    .wContactFormIco {
        background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAATCAYAAACKsM07AAAB00lEQVRIx6WUy07CQBSGm5gYFVBBTYyJia6AkpgQ38BHcOHCR9GtrjHxDUhc6paViXtcVJCLgFQw3FwgIsjFxXhOM9McpqWANPkz7UzP/83MOTOKoigukAoKzSGV+yiMsRHhswLyzQnwcR9bQBDkBq3/YyUqj3NzH1uA+NEDWp0BovL/PSLmdzhUqCiABojZOJmLVa/RCU0C0CW7HCBBPm7Z0mkAQl7QMigg9Qd4v1f0XUUix4/x+CW2swBCfAuWQH7+7effbmoORozoZlrADinfRdA+b0U54ngIZ47GjXqdDfp9C2QcYFvKwSb+jK3IwUs2e/TZbN52O50qmr7pOsvnchaIHWBrTBXtifdyqXRHtwUghvmTplkgMmDD6RyEw+HDj0bjAYOHgwGr12osnUoZxlQS5Ewhpel4kquVSgyDfrpdls1kLMZUr4WCAMQUPmvHuwiSeYEB/V6PZdJpR/NkIsG+Wq2RFUy8TSGhGgboxaJp9JxMskI+byRYQCVzTeRg7MPL7QQDvtttc/nEhIkqks1BuwZAvv2oOOAag97LZQZJZtLBuscWKstibpbpFABjBbBN1PgctAA6xW9SNab5LAAPSOcG2B5Id06Uj0Xt7qI/3I0N0UFwp3AAAAAASUVORK5CYII=) 0px 0px no-repeat;
        width: 24px;
        height: 19px;
    }

    .wContactBlock > .fll,
    .wContactBlock > .flr {
        width: 50%;
    }

    .wContactForm {
        background: #fbfafa;
        box-shadow: 0 1px 3px #e1e2e6;
        padding: 10px;
        box-sizing: border-box;
    }

    .wMap {
        float: left;
        width: 160px;
        height: 120px;
        overflow: hidden;
        z-index: 2;
        position: relative;
        border: 2px solid #fff;
        box-shadow: 0 0 2px #e7e8eb;
        display: block;
        line-height: 0;
        margin-right: 10px;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }

    .no-touch .wMap:hover {
        border: 2px solid #00a657;
    }

    .wMap a {
        display: block;
        line-height: 0;
        height: 100%;
    }

    .wMap img {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
    }

    .wInfo {
        color: #696969;
        font: 15px/25px 'robotoRegular';
    }

    .wInfo p {
        margin-bottom: 20px;
    }

    .wInfo a {
        color: #696969;
        font: 15px/25px 'robotoRegular';
        display: inline-block;
        vertical-align: top;
        text-decoration: none;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }

    .no-touch .wInfo a:hover {
        color: #f3a333;
        text-decoration: none;
    }

    .wContactInfo {
        padding-right: 20px;
        box-sizing: border-box;
    }

    .wContactForm .wFormRow {
        position: relative;
        width: 100%;
        margin-bottom: 10px;
    }

    .wContactForm .wFormRow.small {
        float: left;
        position: relative;
        width: 220px;
    }

    .wContactForm .wFormRow.small + .small {
        margin-left: 20px;
    }

    .wContactForm input {
        width: 100%;
        border: 1px solid #e7e7e7;
        padding: 0 10px;
        box-sizing: border-box;
        color: #838383;
        font: 13px/18px 'robotoRegular';
        height: 30px;
    }

    .wContactForm textarea {
        width: 100%;
        border: 1px solid #e7e7e7;
        padding: 10px;
        box-sizing: border-box;
        color: #838383;
        font: 13px/18px 'robotoRegular';
        height: 130px;
        resize: none;
        box-shadow: none !important;
    }

    .wContactForm .wSubmit {
        color: #fff;
        text-transform: uppercase;
        height: 35px;
        width: 140px;
        background: #f3a333;
        text-align: center;
        font: 15px/35px 'robotoBlack';
        border: none;
        display: inline-block;
        vertical-align: top;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
        margin-right: 20px;
    }

    .no-touch .wContactForm .wSubmit:hover {
        background: #00a657;
        text-decoration: none;
        color: #fff;
    }

    .wContactForm .wSubmit:active {
        -webkit-transform: translate(0px,2px);
        transform: translate(0px,2px);
    }






/*------------------------------  RESULT  ------------------------------*/






    .wResult {
        display: block;
        margin-bottom: 30px;
    }

    .wResultList {
        display: block;
        margin-bottom: 30px;
    }

    .wResultItem {
        display: block;
        padding: 10px 0;
        box-sizing: border-box;
        border-bottom: 1px solid #ccc;
    }

    .wResultLink {
        display: inline-block;
        vertical-align: top;
        color: #000;
        font: 15px/20px 'robotoBlack';
        margin-bottom: 10px;
        text-transform: uppercase;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }

    .no-touch .wResultLink:hover {
        color: #00a657;
    }

    .wResultItem p {
        font: 15px/20px 'robotoRegular';
        color: #989393;
        margin-bottom: 5px;
    }

    .wResultLinkBot {
        display: inline-block;
        vertical-align: top;
        color: #838383;
        font: 15px/20px 'robotoRegular';
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }

    .no-touch .wResultLinkBot:hover {
        color: #000;
    }

    .wResultFind {color: #00a657;}











    .scroll_table {
        overflow-x: auto;
        width: 100%;
        margin-bottom: 30px;
    }




/*--------------------------------  PAGE_404  --------------------------------*/





    .page_404 {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
        text-align: center;
    }

    .title_404 {
        font: 150px/250px 'robotoBlack';
        color: #00a657;
        margin-bottom: 0;
    }

    .text_404 a {
        color: #00a657;
    }




    .select2-arrow {z-index: 2;}


    .ov_t {
        overflow-x: auto;
        width: 100%;
    }

    .back_to_news {
        color: #ccc;
        font: 15px/20px 'robotoRegular';
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }